@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  display: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-image {
  position: absolute !important;
  top: 0;
  right:0;
}

.selected-success {
  background: var(--p-button-outlined-success-hover-background) !important;
}

.selected-warn {
  background: var(--p-button-outlined-warn-hover-background) !important;
}

.selected-danger {
  background: var(--p-button-outlined-danger-hover-background) !important;
}
.fruity {
  color: #271489 !important;
  border-color: #271489 !important;
}

.vegetal {
  color: #726405 !important;
  border-color: #726405 !important;
}

.floral {
  color: #9c1374 !important;
  border-color: #9c1374 !important;
}

.earthy {
  color: #6d5337 !important;
  border-color: #6d5337 !important;
}

.woody {
  color: #4b1c20 !important;
  border-color: #4b1c20 !important;
}

.spicy {
  color: #7a0000 !important;
  border-color: #7a0000 !important;
}

.mineral {
  color: #414141 !important;
  border-color: #414141 !important;
}

.herbal {
  color: #065111 !important;
  border-color: #065111 !important;
}

.smoky {
  color: #000000 !important;
  border-color: #000000 !important;
}

.fruity:hover {
  background: #e6e3f5 !important;
  color: #271489 !important;
  border-color: #271489 !important;
}

.vegetal:hover {
  background: #fbf7e8 !important;
  color: #726405 !important;
  border-color: #726405 !important;
}

.floral:hover {
  background: #ffebf9 !important;
  color: #9c1374 !important;
  border-color: #9c1374 !important;
}

.earthy:hover {
  background: #faeee1 !important;
  color: #6d5337 !important;
  border-color: #6d5337 !important;
}

.woody:hover {
  background: #f3eaea !important;
  color: #4b1c20 !important;
  border-color: #4b1c20 !important;
}

.spicy:hover {
  background: #fff1f1 !important;
  color: #7a0000 !important;
  border-color: #7a0000 !important;
}

.mineral:hover {
  background: #e7e7e7 !important;
  color: #414141 !important;
  border-color: #414141 !important;
}

.herbal:hover {
  background: #e7ffeb !important;
  color: #065111 !important;
  border-color: #065111 !important;
}

.smoky:hover {
  background: #f1f1f1 !important;
  color: #000000 !important;
  border-color: #000000 !important;
}

.fruity.active {
  background: #e6e3f5 !important;
  color: #271489 !important;
  border-color: #271489 !important;
}

.vegetal.active {
  background: #fbf7e8 !important;
  color: #726405 !important;
  border-color: #726405 !important;
}

.floral.active {
  background: #ffebf9 !important;
  color: #9c1374 !important;
  border-color: #9c1374 !important;
}

.earthy.active {
  background: #faeee1 !important;
  color: #6d5337 !important;
  border-color: #6d5337 !important;
}

.woody.active {
  background: #f3eaea !important;
  color: #4b1c20 !important;
  border-color: #4b1c20 !important;
}

.spicy.active {
  background: #fff1f1 !important;
  color: #7a0000 !important;
  border-color: #7a0000 !important;
}

.mineral.active {
  background: #e7e7e7 !important;
  color: #414141 !important;
  border-color: #414141 !important;
}

.herbal.active {
  background: #e7ffeb !important;
  color: #065111 !important;
  border-color: #065111 !important;
}

.smoky.active {
  background: #f1f1f1 !important;
  color: #000000 !important;
  border-color: #000000 !important;
}

.card {
  padding: 0;
}

#app {
  max-width: 1280px;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
